* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
  position: relative;
}

#instructions {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  color: white;
  background-color: #ffffff55;
  padding: 10px;
  border-radius: 8px;
  margin: 10px;
  font-family: 'Courier New', Courier, monospace;
}
